<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
          simply an incrementing number)
        </li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
          (ngClass)
        </li>
      </ol>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" (click)="onDisplayDetailsClicked()">Display Details</button>
      <br/>
      <p *ngIf="detailsVisible">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>

    </div>
    <div class="col-sm">
      Click times:
      <ul>
        <li *ngFor="let clickTimestamp of displayDetailsClickTimestamps; let i = index">
          <div [ngClass]="{whiteText: i>=4}"
               [ngStyle]="{backgroundColor: i>=4 ? 'blue' : 'white'}">{{i}} {{ clickTimestamp | date :"yyyy-MM-dd HH:mm:ss"}}</div>
        </li>
      </ul>
    </div>
  </div>

</div>
